.custom-col-md-3-5 {
    flex: 0 0 29.1667%; /* 3.5 columns out of 12 */
    max-width: 29.1667%;
  }

* {
    box-sizing: border-box;
    margin: 0px;
}

.row>* {
    padding: 0px!important;
}

html {
    scroll-behavior: smooth;
}

.invisible {
    visibility: hidden;
}

.navbar-collapse {
    flex-grow: 0!important;
}

.navbar-toggler:focus{
    box-shadow: none!important;
}

.navbar-brand {
    font-size: 32px!important;
    font-weight: bold!important;
}

.nav-link {
    font-size: 28px!important;
    font-weight: 600!important;
}

#home,
#about,
#services,
#skills,
#work,
#contact {
    min-height: 100vh;
}


/* banner style */

.logo-button {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.h1,
h1 {
    font-size: 85px!important;
    font-weight: bold;
}

.h2,
h2 {
    font-size: 60px!important;
    font-weight: bold;
}

.cursor {
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
}

.logos {
    margin-top: 20px;
}

#home .btn.btn-success {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 50px;
    padding: 10px 15px;
}

.hero {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}


/* about style */

.tab-content .tab-pane {
    display: none;
}

.tab-link {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    border: none;
    background-color: #d9d9d9;
    font-weight: 600;
}

.tab-link.active {
    border-bottom: 2px solid #18D26E;
    padding-bottom: 5px;
}

.tab-content .tab-pane.active {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.tab-content .tab-pane .left-tab-pane .about-image {
    width: 80%;
    height: auto;
}

ul.custom-dash {
    list-style-type: none;
    padding-left: 0;
}

ul.custom-dash li::before {
    content: "- ";
    padding-right: 5px;
}


/* skills */

.skill-box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-img {
    max-width: 100%;
    max-height: 100%;
}

.shadow-html {
    box-shadow: 0 0 10px #E34C26;
}

.shadow-css {
    box-shadow: 0 0 10px #2965f1;
}

.shadow-js {
    box-shadow: 0 0 10px #F0DB4F;
}

.shadow-php {
    box-shadow: 0 0 10px #777BB4;
}

.shadow-wp {
    box-shadow: 0 0 10px #21759B;
}

.shadow-react {
    box-shadow: 0 0 10px #61DAFB;
}

.shadow-laravel {
    box-shadow: 0 0 10px #FF2D20;
}

.shadow-vue {
    box-shadow: 0 0 10px #4FC08D;
}

.shadow-html,
.shadow-css,
.shadow-js,
.shadow-php,
.shadow-wp,
.shadow-react,
.shadow-laravel,
.shadow-vue {
    padding: 10px;
    /* adjust as needed */
}

.hover-scale {
    transition: transform 0.5s;
}

.hover-scale:hover {
    transform: scale(1.05);
}


/* flip-box services */

.service-img {
    width: 128px;
    height: auto;
}

.flip-inner {
    position: relative;
    width: 100%;
    height: 250px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-inner {
    transform: rotateY(180deg);
}

.flip-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
}

#flip-front {
    background-color: #bbb;
    color: black;
}

#flip-back {
    background-color: #555;
    color: #fff;
    transform: rotateY(180deg);
}


/* work section */

.work {
    position: relative;
    max-height: 350px;
}

.work-img {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.work-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.view-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.work:hover .view-button {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

.work:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.demo-modal {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*contact section */

.form-control {
    cursor: pointer;
}

.form-control:focus {
    border-color: #18D26E!important;
    box-shadow: 0 0 10px #18D26E!important;
}

/* Scroll to Top Button */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: opacity 0.5s;
  }
  
  #scrollToTopBtn.show {
    display: block;
    animation: slideUp 0.5s forwards;
  }
  
  #scrollToTopBtn.fly {
    animation: flyToTop 1s forwards;
  }
  
  @keyframes slideUp {
    from {
      bottom: -50px;
      opacity: 0;
    }
    to {
      bottom: 50px;
      opacity: 1;
    }
  }
  
  @keyframes flyToTop {
    from {
      bottom: 20px;
      opacity: 1;
    }
    to {
      bottom: 100%;
      opacity: 0;
    }
  }

.rocket-btn{
    width: 50px;
    height: 50px;
}

/* Dark-mode */

.darkmode-toggle {
    width: 2rem!important;
    height: 2rem!important;
    z-index: 1000!important;
}

.darkmode-layer--button {
    width: 2rem!important;
    height: 2rem!important;
}

.darkmode-layer--simple {
    width: 100%!important;
    height: 100%!important;
    top: 0;
    left: 0;
    transform: scale(1) !important;
}

.darkmode--activated .navbar.bg-body-tertiary {
    background-color: #212529 !important;
    color: #FFF !important;
}

.darkmode--activated .navbar.bg-body-tertiary .nav-link {
    color: #FFF !important;
}

.h3,
h3 {
    color: #F4B400!important;
}

@media (max-width: 768px) {
    .h1,
    h1 {
        font-size: 60px!important;
    }
    .h2,
    h2 {
        font-size: 40px!important;
    }
    .navbar-brand {
        font-size: 24px!important;
    }
    .nav-link {
        font-size: 20px!important;
    }
    .hero {
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }
    .service-img {
        width: 81px;
        height: auto;
    }
    .logo-button {
        width: 30px;
        height: 30px;
        margin: 0 5px;
    }
    .logos {
        margin-top: 10px;
    }
    #home .btn.btn-light {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        border-radius: 50px;
        padding: 10px 15px;
    }
    .contents {
        flex-direction: column;
    }
    .flip-inner {
        width: 100%;
        height: 200px;
    }
    .work-img {
        width: 100%;
        /* or any specific width */
        height: 200px;
        /* or any specific height */
        overflow: hidden;
    }
    .col-md-3 {
        width: 30%!important;
    }
}

@media (max-width: 767px) {
    .services-sm {
        flex-direction: column;
    }
    .contact-form {
        flex-direction: column-reverse;
    }
    .work-flow {
        flex-direction: column;
    }
    .tab-content-link {
        flex-direction: column;
    }
    .tab-pane {
        flex-direction: column;
    }
    .tab-content .tab-pane.active {
        margin: 0px;
        gap: 20px;
    }
}