* {
    box-sizing: border-box;
}

.navbar-collapse {
    flex-grow: 0!important;
}

.navbar-brand {
    font-size: 32px!important;
    font-weight: bold!important;
}

.nav-link {
    font-size: 28px!important;
    font-weight: 600!important;
}


/* banner style */

.logo-button {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.h1,
h1 {
    font-size: 85px!important;
    font-weight: bold;
}

.h2,
h2 {
    font-size: 60px!important;
    font-weight: bold;
}

.cursor {
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
}

.logos {
    margin-top: 20px;
}

.btn.btn-light {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 50px;
    padding: 10px 15px!important;
}

.hero {
    width: 100%;
    height: auto;
}


/* about style */

.tab-link {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    border: none;
    background-color: #d9d9d9;
    font-size: 36px;
    font-weight: 600;
}

.tab-link.active {
    border-bottom: 2px solid #18D26E;
    padding-bottom: 5px;
}

.tab-content .tab-pane.active {
    display: block;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.tab-content .tab-pane .left-tab-pane .about-image {
    width: 100%;
    height: auto;
}


/* skills */

.skills {
    padding: 50px 0px;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
}

.card-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Add this line */
    gap: 20px;
    /* Adjust this value as needed */
    width: 100%;
}

.card-skill {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    background-color: black;
}

.skill-img {
    width: 128px;
    height: auto;
}